<h1
  class="font-black uppercase text-6xl md:text-8xl text-center py-8 px-4"
  style="view-transition-name: book-title"
>
  Libros que
  <span class="block text-[36px] md:text-[58px]">recomiendo</span>
</h1>
 <style>
  h1{
    position: absolute;
    width: 100%;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #909090;
    height:1600px
  }
 </style>